<div class="main-container-login" id="main-container-inscription">
  <div class="container-login" id="session-inscription">
    <div class="img-connection" id="img-inscription-container">
      <%= image_tag "photo_inscription.jpg", class:"img-backgound", id:"img-inscription" %>
    </div>
    <div class="log-form">
      <h2>M'inscrire</h2>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :first_name, label: "Prénom" %>
          <%= f.input :last_name, label: "Nom" %>
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      required: true,
                      label: "Mot de passe",
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      label: "Confirmation mot de passe",
                      input_html: { autocomplete: "new-password" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "M'inscrire", class:'btn btn-danger mb-2' %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
