<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="top-menus">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo-ezycar.svg", class:"logo" %>
    <% end %>

    <div class="menus">
      <%= link_to 'Accueil', root_path, class:"menu-link", id:"acceuil" %>
      <%= link_to 'Listes des véhicules', cars_path, class:"menu-link" %>
      <% if policy(Car).create? %>
        <%= link_to 'Louer ma voiture', new_car_path, class:"menu-link btn", id:"louer"%>
      <% end %>
    </div>
  </div>

  <li class="nav-item dropdown" id="clic-avatar-mobile">
    <div class="avatar-display">
      <p><%= current_user %><%#= current_user.first_name %></p>
      <%= image_tag "avatar.svg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <%= link_to "Accueil", root_path, class: "dropdown-item" %>
        <%= link_to "Liste des véhicules", cars_path, class: "dropdown-item" %>
        <%= link_to "Louer ma voiture", new_car_path, class: "dropdown-item" %>
        <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    </div>
  </li>

  <%# <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <div class="mobile-menu">Menus<span class="navbar-toggler-icon ml-2"></span></div>
  </button> %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <div class="links-mobiles">
          <%= link_to "Accueil", root_path, class: "nav-item mobile-only" %>
          <%= link_to "Liste des véhicules", cars_path, class: "nav-item mobile-only" %>
          <%= link_to "Louer ma voiture", new_car_path, class: "nav-item mobile-only" %>
          <li class="nav-item dropdown" id="clic-avatar">
            <div class="avatar-display">
              <p><%= current_user.first_name %></p>
              <%= image_tag "avatar.svg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <%= link_to "Accueil", root_path, class: "dropdown-item" %>
                <%= link_to "Liste des véhicules", cars_path, class: "dropdown-item" %>
                <%= link_to "Louer ma voiture", new_car_path, class: "dropdown-item" %>
                <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </div>
          </li>
        </div>
      <% else %>
        <li class="nav-item">
          <%= link_to new_user_session_path, class: "nav-link inscription" do %>
            <i class="fas fa-user-circle mr-1"></i><p>CONNEXTION&thinsp;|&thinsp;INSCRIPTION</p>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
