<h4><i class="fas fa-map-marked-alt mr-3"></i><%= car.address.split(',')[0] %></h4>
<h3><i class="fas fa-car mr-3"></i><strong><%= car.brand %></strong>&thinsp;<%= car.model %></h3>
<h5><i class="fas fa-user mr-3"></i><%= car.user.first_name %>&thinsp;<%= car.user.last_name %></h5>
<p>Prix : <strong><%= car.price_per_day %> € </strong>| jour</p>
