<div class="banner-car">
  <div class="container-banner-car">
    <%= form_tag cars_path, method: :get, class:"search" do %>
      <div class="search-address">
        <%# <label for="address" class="search-label">Lieu de départ</label> %>
        <div class="search-inline" id="mobile-search-index">
          <%# <i class="fas fa-search white-color"></i> %>
          <%= text_field_tag :address, params[:address], class: "form-control-home", placeholder: "Entrez une ville..." %>
        </div>
      </div>
      <%= submit_tag "Rechercher", class: "btn rechercher", id:"btn-carte-new"%>
    <% end %>
  </div>
</div>

<div class="container-cars-index">
  <div class="voirlacarte-inline">
    <div class="btn rechercher" id="btn-carte">
      <p class="voir-carte"><i class="fas fa-map-marked-alt mr-2"></i>Voir la carte</p>
      <p class="voir-liste hidden"><i class="fas fa-list-ul mr-2"></i>Voir la liste</p>
    </div>
    <div class="trait"></div>
  </div>
  <div class="d-none">
    <div id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <div class="cards">
        <% @cars.each do |car| %>
          <%= button_to(car_path(car), method: :get, class: "btn-stripped" ) do %>
            <div class="card">
              <div class="card-photo">
                  <%= image_tag 'card-en-construction-01.png', crop: :fill, class: "card-photo" %>
              </div>
              <div class="card-body">
                <div class="text">
                  <div class="card-body-title">
                    <h3 class="card-title m-0"><%= car.brand %></h3>
                    <h3 class="car-model ml-2 mb-0"><%= car.model %></h3>
                  </div>
                  <div class="card-body-description">
                    <p></p>
                  </div>
                </div>
                <div class="price">
                  <p class="value-price"><%= car.price_per_day.to_i %> €</p>
                  <p>Par jour</p>
                </div>
              </div>
              <div class="card-links">
                <% if policy(car).edit? %>
                  <%#= link_to 'Edit', edit_car_path(car) %>
                  <%= link_to edit_car_path(car) do %>
                    <i class="fas fa-user-edit"></i>
                  <% end %>
                <% end %>
                <% if policy(car).destroy? %>
                  <%= link_to(car_path(car), method: :delete, remote: true, data: { confirm: "Souhaitez-vous supprimer cette voiture ?" } ) do %>
                    <i class="fas fa-trash-alt ml-1"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <% if @cars.empty? %>
        <p class="text-left message-no-card">Vous n'avez pas de véhicules qui correspondent à votre recherche...</p>
      <% end %>
    </div>
</div>
