<div class="container-new">
  <div class="formulaire-new">
    <div class="text-form">
      <h1>Complétez vos revenus en partageant votre voiture</h1>
      <%= simple_form_for(@car) do |f| %>
        <%= f.input :brand, label: 'Marque', placeholder: 'Marque de la voiture',
                    collection: Car::BRANDS_MODELS.keys.sort,
                    input_html: { data: { controller: 'select2' }} %>

        <div class="model-car">
          <div class="form-group select required car_model">
            <select class="form-control select required" placeholder="Modèle de la voiture" name="car[model]" id="car_model">
              <% Car::BRANDS_MODELS.each do |brand, model| %>
                <% model.each do |v| %>
                  <option value= <%= brand %>><%= v %></option>
                <% end %>
              <% end %>
            </select></div>
        </div>

        <%= f.input :year_of_production, label: 'Année', placeholder: '20XX' %>
        <%= f.input :address, label: 'address', placeholder: 'Adresse...' %>
        <%#= text_field_tag :address, params[:address], class: "form-control-home", label: 'Adresse', placeholder: "Entrez une adresse..." %>
        <%= f.input :price_per_day, label: 'Votre prix par jour ?', placeholder: '.... €' %>
        <%# <%= f.input :photo, as: :file, class:"btn btn-light" %>
        <%= f.button :submit, 'Créer !', class: 'btn btn-danger' %>
      <% end %>
    </div>
    <%= image_tag "photo_inscription.jpg" %>
  </div>
</div>
