<div class="container-new">
  <div class="formulaire-new">
    <div class="text-form">
      <h1>Complétez vos revenus en partageant votre voiture</h1>
      <%= simple_form_for(@car) do |f| %>

          <%= f.input :brand, label: 'Marque', placeholder: 'Marque de la voiture',
                      collection: Car::BRANDS_MODELS.keys.sort,
                      input_html: { data: { controller: 'select2' }} %>

          <div class="model-car-audi">
            <%= f.input :model, label: 'Modèle', placeholder: 'Modèle de la voiture',
                        collection: Car::BRANDS_MODELS['Audi']  %>
          </div>

          <div class="model-car-citroen d-none">
            <%= f.input :model, label: 'Modèle', placeholder: 'Modèle de la voiture',
                        collection: Car::BRANDS_MODELS['Citroen']  %>
          </div>

          <div class="model-car-dacia d-none">
            <%= f.input :model, label: 'Modèle', placeholder: 'Modèle de la voiture',
                        collection: Car::BRANDS_MODELS['Dacia']  %>
          </div>

          <div class="model-car-ford d-none">
            <%= f.input :model, label: 'Modèle', placeholder: 'Modèle de la voiture',
                        collection: Car::BRANDS_MODELS['Ford']  %>
          </div>

          <div class="model-car-nissan d-none">
            <%= f.input :model, label: 'Modèle', placeholder: 'Modèle de la voiture',
                        collection: Car::BRANDS_MODELS['Nissan']  %>
          </div>

          <div class="model-car-opel d-none">
            <%= f.input :model, label: 'Modèle', placeholder: 'Modèle de la voiture',
                        collection: Car::BRANDS_MODELS['Opel']  %>
          </div>

          <div class="model-car-peugeot d-none">
            <%= f.input :model, label: 'Modèle', placeholder: 'Modèle de la voiture',
                        collection: Car::BRANDS_MODELS['Peugeot']  %>
          </div>

          <div class="model-car-renault d-none">
            <%= f.input :model, label: 'Modèle', placeholder: 'Modèle de la voiture',
                        collection: Car::BRANDS_MODELS['Renault']  %>
          </div>

          <div class="model-car-seat d-none">
            <%= f.input :model, label: 'Modèle', placeholder: 'Modèle de la voiture',
                        collection: Car::BRANDS_MODELS['Seat']  %>
          </div>

          <div class="model-car-toyota d-none">
            <%= f.input :model, label: 'Modèle', placeholder: 'Modèle de la voiture',
                        collection: Car::BRANDS_MODELS['Toyota']  %>
          </div>

          <div class="model-car-volkswagen d-none">
            <%= f.input :model, label: 'Modèle', placeholder: 'Modèle de la voiture',
                        collection: Car::BRANDS_MODELS['Volkswagen']  %>
          </div>

        <%= f.input :year_of_production, label: 'Année', placeholder: '20XX' %>
        <%#= f.input :address, label: 'address', placeholder: 'Adresse...' %>
        <%= text_field_tag :address, params[:address], class: "form-control-home", label: 'Adresse', placeholder: "Entrez une adresse..." %>
        <%= f.input :price_per_day, label: 'Votre prix par jour ?', placeholder: '.... €' %>
        <%# <%= f.input :photo, as: :file, class:"btn btn-light" %>
        <%= f.button :submit, 'Créer !', class: 'btn btn-danger' %>
      <% end %>
    </div>
    <%= image_tag "photo_inscription.jpg" %>
  </div>
</div>
