<!DOCTYPE html>
<html>
  <head>
    <title>CarLocation</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Mansalva&family=Permanent+Marker&family=Rubik&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bakbak+One&family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
    <%= render 'shared/footer' %>

    <%# <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script>
      config = {
        altInput: true,
        altFormat: "j F, Y",
        dateFormat: "d-m-Y",
        mode: "range"
      };

      flatpickr("input[type=datetime-local]", config);
    </script> %>
  </body>
</html>
